<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quebecfresh.androidapp.arithmeticforkid">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21"></uses-sdk>
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_action_watermelon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PracticeOptionsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/practice"
            android:parentActivityName=".PracticeOptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PracticeOptionsActivity" />
        </activity>
    </application>

</manifest>
