<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quebecfresh.androidapp.simplebudget" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/build_your_budget" >
        </activity>
        <activity
            android:name=".EditBudgetInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/title_activity_edit_budget_info" >
        </activity>
        <activity
            android:name=".InitializeAccountActivity"
            android:label="@string/accounts"
            android:launchMode="singleTop"
            android:parentActivityName=".EditBudgetInfoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.EditBudgetInfoActivity" />
        </activity>
        <activity
            android:name=".InitializeIncomeBudgetActivity"
            android:label="@string/incomes"
            android:launchMode="singleTop"
            android:parentActivityName=".InitializeAccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeAccountActivity" />
        </activity>
        <activity
            android:name=".InitializeExpenseBudgetActivity"
            android:label="@string/expenses"
            android:launchMode="singleTop"
            android:parentActivityName=".InitializeIncomeBudgetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeIncomeBudgetActivity" />
        </activity>

        <activity
            android:name=".BudgetReviewActivity"
            android:label="@string/title_activity_budget_review"
            android:parentActivityName=".InitializeExpenseBudgetActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeExpenseBudgetActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewExpenseActivity"
            android:label="@string/spend_money"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.MainActivity" />
        </activity>
        <activity
            android:name=".EditIncomeBudgetActivity"
            android:label="@string/edit_income"
            android:parentActivityName=".InitializeIncomeBudgetActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeIncomeBudgetActivity" />
        </activity>
        <activity
            android:name=".EditExpenseBudgetActivity"
            android:label="@string/edit_expense"
            android:parentActivityName=".InitializeExpenseBudgetActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeExpenseBudgetActivity" />
        </activity>
        <activity
            android:name=".EditAccountActivity"
            android:label="@string/edit_account"
            android:parentActivityName=".InitializeAccountActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.InitializeAccountActivity" />
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="@string/title_activity_demo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.MainActivity" />
        </activity>
        <activity
            android:name=".ExpenseActivity"
            android:label="@string/title_activity_expense"
            android:parentActivityName=".BudgetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.BudgetOverviewActivity" />
        </activity>
        <activity
            android:name=".NewIncomeActivity"
            android:label="@string/receive_money"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.MainActivity" />
        </activity>
        <activity
            android:name=".IncomeActivity"
            android:label="@string/title_activity_income"
            android:parentActivityName=".BudgetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.BudgetOverviewActivity" />
        </activity>
        <activity
            android:name=".BalanceActivity"
            android:label="@string/title_activity_balance"
            android:parentActivityName=".BudgetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.BudgetOverviewActivity" />
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.MainActivity" />
        </activity>
        <activity
            android:name=".ExpenseBudgetActivity"
            android:label="@string/title_activity_expense_budget"
            android:parentActivityName=".BudgetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.BudgetOverviewActivity" />
        </activity>

        <activity
            android:name=".BudgetOverviewActivity"
            android:label="@string/title_activity_budget_overview"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.MainActivity" />
        </activity>
        <activity
            android:name=".IncomeBudgetActivity"
            android:label="@string/title_activity_income_budget"
            android:parentActivityName=".BudgetOverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.quebecfresh.androidapp.simplebudget.BudgetOverviewActivity" />
        </activity>

    </application>

</manifest>
